@font-face {
	font-family: Adventure Time;
	src: url(Adventure_Time.ttf);
}

#header {
	text-align: center;
	padding: 20px;
	background-image: url("pics/mood.png");
	min-height: 200px;
}

h1 {
	font-family: Adventure Time;
	font-size: 60px;
	padding-top: 50px;
	color: #da4244;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.row {
	margin: 0px;
}

#main {
	min-height: 700px;
}

#buttonRow {
	min-height: 50px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	background-color: #E6F4F1;
}

.btn-primary {
	margin-left: 20px;
}

#myModal {
	z-index: 1000;
}

#characterFinn {
	max-height: 340px;
	background-color: pink;
}

#scoreFinn {
	height: 200px;
	width: 200px;
	background-color: pink;
	padding: 5px;
}

#scoreFern {
	height: 200px;
	width: 200px;
	background-color: pink;
	border-color: blue;
	
}

#characterFern {
	max-height: 340px;
	background-color: pink;
}

#finn {
	background-color: white;
}

.progress {
	height: 30px;
	width: 200px;
	margin: 30px 50px;
}

#boardContainer {
	background-color: white;
	max-height: 700px;
}

#fern {
	background-color: white;
}

#jake {
	padding-top: 50px;
}

.box1 {
  width: 200px;
  margin: 25px auto;
  border: 2px solid #00bfb6;
  padding: 10px;
  text-align: center;
  font-weight: 200;
  color: #00bfb6;
  font-family: arial;
  position: relative;
}

.sb6:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #00bfb6;
  border-top: 10px solid #00bfb6;
  border-bottom: 10px solid transparent;
  left: -21px;
  top: 6px;
}

.sb6:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 7px solid transparent;
  border-right: 7px solid #fff;
  border-top: 7px solid #fff;
  border-bottom: 7px solid transparent;
  left: -11px;
  top: 10px;
}

#displayMessage {
	height: 200px;
	width: 600px;
	overflow: scroll;
	border: 1px solid #ccc;
	margin-left: 20px;
	background-color: white;s
}

#gameLog {
	background-color: #E6F4F1;
}

#footer {
	background-image: url("pics/mood.png");
	min-height: 200px;
}